<wselect
	(modelChange)="setStore($event)"
	placeholder="Select store"
	*ngIf="stores.length"
	[clearable]="true"
	[items]="stores"
	[select]="store"
	style="padding-bottom: 10px;"
></wselect>

<wselect
	(modelChange)="setTag($event)"
	placeholder="Select tag"
	*ngIf="tags.length"
	[clearable]="true"
	[items]="tags"
	[select]="tag"
	style="padding-bottom: 10px;"
></wselect>
<div *ngIf="available">Products would be shown also on {{available}}</div>

<wtable [title]="title" [columns]="columns" [config]="config" [rows]="products">
	<ng-template cell="enabled" let-element>
		<winput
			(wChange)="element.enabled = $event; update(element)"
			[value]="element.enabled"
			type="checkbox"
		></winput>
	</ng-template>
	<ng-template cell="top" let-element>
		<winput
			(wChange)="element.top = $event; update(element)"
			[value]="element.top"
			type="checkbox"
		></winput>
	</ng-template>
	<ng-template cell="thumb" let-element>
		<img *ngIf="element.thumb" [src]="element.thumb" [alt]="element.name" style="height: 50px;">
	</ng-template>
</wtable>
